{% for meeting in meetings %}
{% if loop.first %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <ul class="meetings list-unstyled">
{% endif %}
            {% if not meeting.archive %}
            <li {{ listingAnimation|raw }}>
                <div class="meeting">
                    <div class="meeting-info">
                        <h3>
                            {{ meeting.title }}
                        </h3>

                        {% if meeting.date|length or meeting.address.address|length %}
                        <p>
                            {{ meeting.date|length ? meeting.date|date ~ ' | ' }}{{ meeting.date|length ? meeting.date|time }}{{ meeting.address.address|length and meeting.date|length ? ' | '}}{{ meeting.address.address }}
                        </p>
                        {% endif %}
                    </div>

                    {% set agenda = meeting.agenda.one() %}
                    {% set minutes = meeting.minutes.one() %}
                    {% if agenda|length or minutes|length %}
                    <div class="meeting-buttons">
                        {% if agenda|length %}
                        <div class="meeting-buttons-item">
                            <a href="{{ agenda.getUrl() }}" class="btn btn-primary agenda-link" download>
                                Agenda <svg width="18" height="18" fill="#fff" style="margin-left: 5px;"><use xlink:href="#metting-list"></use></svg>
                            </a>
                        </div>
                        {% endif %}

                        {% if minutes|length %}
                        <div class="meeting-buttons-item">
                            <a href="{{ minutes.getUrl() }}" class="btn btn-secondary minute-link" download>
                                Minutes <svg width="18" height="18" fill="#fff" style="margin-bottom: 2px; margin-left: 5px;"><use xlink:href="#metting-clock"></use></svg>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endif %}
{% if loop.last %}
        </ul>
    </div>
</div>
{% if pagination and pageInfo and pageInfo.totalPages|default(0) > 1 %}
<div class="md:mt-7 mt-4 text-center">
    {% include "_includes/_pagination" %}
</div>
{% endif %}
{% endif %}
{% endfor %}