{#
========================================
    Text (text)

    Variables
        - Block (block)

    Fields:
        Content:
            - Text (text)

        Settings:
        	- Background Color (backgroundColor)
            - Text Alignment (textAlignment)

        Animation Styles:
            - Animation (animation)
            - Content Animation Style (contentAnimationStyle)
            - Content Animation Easing (contentAnimationEasing)
            - Content Animation Duration (contentAnimationDuration)
            - Content Animation Offset (contentAnimationOffset)

        Spacing:
        	- Margin Top (marginTop)
        	- Margin Bottom (marginBottom)
        	- Padding Top (paddingTop)
        	- Padding Bottom (paddingBottom)
========================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_includes/macros" as render %}

{% set section = entry.section.handle|default(null) %}
{% set parent = block.parent.type.handle|default(null) %}
{% set headingAlignment = block.textAlignment.value|default('center') %}
{% set backgroundColor = render.color({
    handle :  currentBgColor,
    swatch : 'background'
}) %}
{% set sectionTag = parent == 'container' ? 'div' : 'section' %}

{# Animation #}
{% set contentTextAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.contentAnimationStyle.value|default('fade-up'),
    animationDuration: block.contentAnimationDuration.value|default(500),
    animationOffset: block.contentAnimationOffset.value|default(null),
    animationEasing: block.contentAnimationEasing.value|default(null)
}) | raw %}

{% if block.text|length %}
<{{ sectionTag }} class="{{ spacing.implode(' ') }} {{ backgroundColor }}">
	<div class="container">
		<div class="{{ 'text-' ~ headingAlignment }} {{ section != 'pages' and section != 'home' ? 'col-lg-8 col-12 mx-auto' }}">
			<div class="post__text">
				<div class="post__body blog-list" {{ contentTextAnimation|raw }}>
					{{ render.replaceElements(block.text, {
                        'p' : 'text-black'
                    }) }}
				</div>
			</div>
		</div>
	</div>
</{{ sectionTag }}>
{% endif %}